@media screen and (min-width:1824px) {
  aside #nav-row-2 ul li a{
    padding:3rem 2rem 3rem 0
  }
  aside #nav-row-1 img{
    margin-left:60px;
  }
  aside #nav-row-2 ul li #anchor-skills .nav-item p{
    margin-left:4rem;
  }
  aside #nav-row-2 ul li #anchor-projects .nav-item p{
    margin-left:4rem;
  }
  aside #nav-row-2 ul li #anchor-resume .nav-item p{
    margin-left:4rem;
  }
  aside #nav-row-2 ul li #anchor-contact .nav-item p{
    margin-left:4rem;
  }
  main .main-content .content-row-1 div .intro{
    max-width:67%;
  }
}

@media screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */

}

@media screen and (max-width:1025px) {
}

@media screen and (max-width:880px)  {
  body{
    grid-template-columns: 1fr;
  }
  aside{
    display:none;
  }
}
@media screen and (max-width: 600px){
  body{
    grid-template-columns: 1fr;
  }
  aside{
    display:none;
  }
}
