@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




.font-h1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:42px;
  margin-bottom: .33em;
  letter-spacing: -.5px;
  color:#565656;
}
.font-divider-h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #565656;
  border-bottom:1px solid #424242;
  line-height: 0.1em;
  margin:0 0 1.33em 0;
  span{
    background:#F4F4F4;
    padding:0 1rem 0 0;
    font-size:28px;
  }
}
.font-h3{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  margin-bottom: .33em;
  color:#545454;
  letter-spacing: -.5px;
}
.font-p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  font-size:16px;
  color:#565656;
}
.font-caption{
  .font-p;
  font-style: italic;
  font-size:14.5px;
}

.jump-spots{
  scroll-margin-top: 50px;
}

html{
  scroll-behavior: smooth;
}

body{
  // background:#2B2B2B;
  background:#F4F4F4;
  // background: -webkit-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  // background: -o-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  // background: -ms-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  // background: -moz-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  // background: linear-gradient(to right, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  display:grid;
  grid-template-columns: 15rem 1fr;
  grid-gap:4em;
  align-items:start;
  width:90%;
  margin:0 auto;
}
main{
  .main-content{
    animation: fadeInAnimation ease 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top:5.5rem;
    h1{
      .font-h1;
    }
    h2{
      .font-divider-h2;
    }
    h3{
      .font-h3;
    }
    p{
      .font-p;
    }
    ul{
      li{
        .font-p;
      }
    }
    .content-row-1{
      div{
        .intro{
          color:#565656;
        }
      }
    }
    .content-row-2{
      margin-top:2rem;
      #content-row-2-container-1{
        color:#565656;
        background:#FEFEFE;
        padding:2rem 2rem 1rem 2rem;
        border-radius:6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        display:flex;
        flex-direction: column;
        .container-33_33_33{
          display:grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap:1em;
          margin-bottom:1rem;
          div{
            img{
              max-width:70%;
              float: right;
              border-radius:2px;
            }
            ul{
              li{
                line-height:175%;
                // &:before{
                //   content:"•";
                //   padding-right:.5rem;
                // }
              }
            }
          }
        }
        .row-content-2-key{
          .font-p;
          font-size:14.5px;
          text-align: right;
          ul{
            display:inline-flex;
            font-style: italic;
            li{
              .font-p;
              font-style: italic;
              float:right;
              font-size:14.5px;
            }
            #li-beginner{
              margin-left:.5rem;
              &:before{
                content:"●";
                padding-right:.2rem;
                font-style: normal;
                color:#ff2fdf;
              }
            }
            #li-intermediate{
              margin-left:.5rem;
              &:before{
                content:"●";
                padding-right:.2rem;
                font-style: normal;
                color:#4b76e6;
              }
            }
            #li-proficient{
              margin-left:.5rem;
              &:before{
                content:"●";
                padding-right:.2rem;
                font-style: normal;
                color:#12cc12;
              }
            }
          }
        }
      }
      #content-row-2-container-2{
        color:#565656;
        background:#FEFEFE;
        padding:2rem 2rem 1rem 2rem;
        border-radius:6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        margin-top:1rem;
        .container-50_50{
          display:flex;
          flex-direction: row;
          gap:4rem;
          align-items: center;
          div{
            .process-information{
              p{
                margin-bottom:1rem;
              }
            }
          }
          div{
            img{
              max-width:100%;
            }
          }
        }
      }
    }
    .content-row-4{
      margin-top:2rem;
      #content-row-4-container-full{
        .container-50_50{
          display:grid;
          grid-template-columns: 1fr 1fr;
          grid-gap:1em;
          .project-tile{
            a {
              position: relative;
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              div {
                border-radius:6px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                div {
                  gap: 1rem;
                  background-color: #edeff3;
                  border: 2px solid #4B76E6;
                  opacity: 0;
                  margin: auto;
                  position: absolute;
                  transition: 0.3s;
                  margin-block-end: 0;
                  border-radius: 6px;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 3px;
                  .project-tile-title {
                    .font-h3;
                    color: #4b76e6;
                    margin:3rem 1rem .33rem 1rem;
                  }
                  .project-tile-brief {
                    font-weight:400;
                    color: #545454;
                    margin:0 1rem 0 1rem;
                  }

                  &:hover {
                    opacity: 0.95;
                  }
                }
                img {
                  max-width: 100%;
                  min-width: 100%;
                  max-height: 100%;
                  min-height: 100%;
                  border-radius: 6px;
                }
                #project-tile-1{
                  border-radius:6px;
                }
                #project-tile-2{
                  border-radius:6px;

                }
                #project-tile-3{
                  border-radius:6px;
                }
              }
            }
            .font-caption{
              .font-caption;
            }
          }
        }
      }
    }
  }
}
