@media screen and (min-width:1824px) {

}

@media screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */

}

@media screen and (max-width:1025px) {

}

@media screen and (max-width:880px)  {


@media screen and (max-width:600px){
  nav{
    display:block;
    left:0;
  }
  nav .nav-content #navigation-right #menu li a{
    font-size:14.5px;
  }
}
