.font-p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  font-size: 16px;
  color: #565656;
}
nav {
  display: none;
  padding: 0.5rem 0;
  background-color: #FFF;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav .nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
nav .nav-content #navigation-left {
  align-items: center;
}
nav .nav-content #navigation-left #logo {
  height: 3.2rem;
  margin-left: 5vw;
}
nav .nav-content #navigation-right label {
  margin: auto;
  text-align: center;
  display: none;
}
nav .nav-content #navigation-right #toggle {
  display: none;
}
nav .nav-content #navigation-right #menu {
  display: inline-flex;
  margin: 0;
  margin-right: 20px;
  list-style-type: none;
  line-height: 0;
}
nav .nav-content #navigation-right #menu li:nth-child(1) a {
  margin-right: 0.7rem;
}
nav .nav-content #navigation-right #menu li:nth-child(2) a {
  margin-right: 0.7rem;
}
nav .nav-content #navigation-right #menu li:nth-child(3) a {
  margin-right: 0.7rem;
}
nav .nav-content #navigation-right #menu li a {
  text-decoration: none;
  color: #003ACC;
  font-family: 'Roboto Slab', serif;
  font-size: 15.5px;
  font-weight: 300;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  font-size: 16px;
  color: #565656;
}
nav .nav-content #navigation-right #menu li a:hover {
  color: #0047FF;
  transition: 0.3s;
}
