nav {
  padding: 0.33rem 0 0.33rem 0;
  background: #FFF;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav .nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
nav .nav-content #navigation-left {
  align-items: center;
}
nav .nav-content #navigation-left #logo {
  height: 3.7rem;
  margin-left: 16.5vw;
}
nav .nav-content #navigation-right label {
  margin: auto;
  text-align: center;
  display: none;
}
nav .nav-content #navigation-right #toggle {
  display: none;
}
nav .nav-content #navigation-right #menu {
  display: inline-flex;
  margin: 0;
  margin-right: 16.5vw;
  list-style-type: none;
  line-height: 0;
}
nav .nav-content #navigation-right #menu li:nth-child(1) a {
  margin-right: 1rem;
}
nav .nav-content #navigation-right #menu li:nth-child(2) a {
  margin-right: 1rem;
}
nav .nav-content #navigation-right #menu li a {
  color: #3270B3;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16.5px;
}
nav .nav-content #navigation-right #menu li a:hover {
  color: #0047FF;
  transition: 0.3s;
}
